# ---- Python / Django (backend) ----
venv/
venv_mac/
.venv/
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
.env
*.log
staticfiles/

# ---- Node / React (frontend) ----
node_modules/
dist/
dist-ssr/
.env.local
.env.*.local

# ---- Editor / OS ----
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
